<!DOCTYPE html>
<html lan='eng'>

<head>

    <meta charset='UTF-8'>
    <title>PhotoGpt</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .bg-white {
            margin-top: -10rem;
            font-family: 'poppins', sans-serif;
        }

        @media (min-width: 640px) {
            .bg-white {
                margin-top: -16rem;
                font-family: 'poppins', sans-serif;
            }
        }
    </style>
</head>

<body>

    <div class="bg-white">

        <div class="relative isolate px-5 pt-14 lg:px-8">
            <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
                aria-hidden="true">
                <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
                    style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
                </div>
            </div>
            <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
                <div class="hidden sm:mb-8 sm:flex sm:justify-center">

                </div>
                <div class="text-center">

                    <h1 class="text-4xl font-bold tracking-tight text-indigo-600 sm:text-6xl">Photo📸Gpt</h1>
                    <br>
                    <br>
                    <br>


                    <div style="border: solid 2px #4F46E5;border-radius: 0.5rem;">
                        <div class="read flex justify-start">
                            <button
                                class="rounded-md bg-indigo-600 px-2 py-1 text-sm font-semibold text-white shadow-sm  focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                                <img width="20" height="20"
                                    src="https://img.icons8.com/ios-glyphs/30/FFFFFF/play--v1.png" alt="play--v1"
                                    id="ImgIcon" />
                            </button>

                        </div>

                        <p class="mt-6 text-lg leading-8 text-gray-600" style="font-size: 1.4rem;margin-top: -0px;"
                            id="word">
                            <%= locals.text %>
                        </p>
                    </div>

                    <div class="mt-10 flex items-center justify-center gap-x-6">
                        <a href="#"
                            class="rounded-md bg-indigo-600 px-3.5 py-3.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Regenerate
                            summery</a>

                    </div>
                </div>
            </div>
            <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
                aria-hidden="true">
                <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
                    style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
                </div>
            </div>
        </div>
    </div>



    <script>
        let c = 0;
        let text = `<%= locals.text %>`;



        document.querySelector("#ImgIcon").addEventListener("click", async () => {
            if (c == 0) {
                document.querySelector("#ImgIcon").setAttribute("src", "https://img.icons8.com/ios-glyphs/30/FFFFFF/pause--v1.png");
                const speech = await new SpeechSynthesisUtterance(text);
                speech.lang = "en-US";
                window.speechSynthesis.speak(speech);
                speech.onboundary = (event) => {
                    const charIndex = event.charIndex;
                    const charLength = event.charLength;
                    const spokenWord = text.substring(charIndex, charIndex + charLength);
                    const pTagContent = document.querySelector("p").textContent;
                    const highlightedText = pTagContent.replace(spokenWord, `<span style="background-color: #4F46E5;color:white">${spokenWord}</span>`);
                    document.querySelector("p").innerHTML = highlightedText;
                };
                c++;

            } else {
                document.querySelector("#ImgIcon").setAttribute("src", "https://img.icons8.com/ios-glyphs/30/FFFFFF/play--v1.png");
                window.speechSynthesis.cancel();
                c = 0;
            }
        })

    </script>


</body>

</html>